.login-button {
  position: absolute;
  top: 30px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}


.nav-section {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}


.nav-section img {
  max-width: 100px;
  height: auto;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list li {
  padding: 10px
}

.menu-area {
  position: absolute;
  display: flex;
  top: 90px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-section {
  position: absolute;
  top: 30px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
}


.container {
  position: absolute;
  margin-top: -200px;
  padding: 20px;
  max-width: 12px;
  right: 100px;
}

.row {
  position: absolute;
  display: flex;
  justify-content: center;
}


.col-lg-3 img {
  max-width: 100%;
  width: 230px;
  height: auto;
}


.col-lg-3 {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 992px) {
  .row {
    justify-content: center;
    padding-right: 0;
  }
}

.product-img {
  display: flex;
  justify-content: flex-end;
}

.login-form {
  width: 40em;
}

.login-area {
  display: flex;
  justify-content: center;
}

.product-detail-card {
  display: flex;
  justify-content: center;

}